@import './color.scss';

.button {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  font-weight: 500;
  background: $color-secondary-blue;
  color: $color-primary-light;
  padding: 0 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;

  img {
    margin-right: 8px;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:hover {
    background: $color-secondary-blue;
    border: 1px solid rgba($color-primary-dark, .05);
    box-shadow: 1px 1px 2px rgba($color-primary-light, .2);
    text-decoration: none;
    transition: all 250ms linear;
  }
}