@import './color.scss';

#page-store {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/images/background-store2.jpg');
    
    #content-card {
        background-image: url('../assets/images/card-background.jpg');
        background-size: auto;
        width: 400px;
        height: 500px;
        padding: 10px 40px;
        border-radius: 5px;
        opacity: 0.9;
        display: grid;
        grid-template-areas:    "one"
                                "two"
                                "three";

       #firstColumn {
           display: flex;
           justify-content: center;
           align-items: center;
       }

        .icon {
            position: relative;
            right: 40px;
            top: 4px;
            cursor: pointer;
        }
       

        h2 {
            color: $color-primary-dark;
            margin-bottom: 45px; 
        }

        h5 {
            color: $color-primary-dark;
            margin-top: 10px;
            text-align: center;

            a {
                color: $color-secondary-blue;
                cursor: pointer;
            }
        }

        #label {
            margin-left: 12px;
            color: $color-primary-dark;
            font-size: medium;
            font-weight: bold;
            text-align: left;
        }

        input {
            margin-left: 12px;
            width: 90%;
            height: 45px;
            border-radius: 5px;
            padding: 15px;
            color: $color-secondary-blue;
            border-color: $color-secondary-blue;
            background-color: $color-primary-light;
            &:hover {
                filter: brightness(0.9);
                border: 1px solid rgba($color-secondary-blue, .05);
                box-shadow: 1px 1px 2px rgba($color-secondary-blue, .2);
                text-decoration: none;
                transition: all 250ms linear;
            } 
        }
    }
}

// #firstColumn {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     #icon {
//         height: 45px;
//         width: 30%;
//         border: none;
//         background-color: $color-primary-light;
//     }

//     &:hover {
//      filter: brightness(0.9);
//      border: 1px solid rgba($color-secondary-blue, .05);
//      box-shadow: 1px 1px 2px rgba($color-secondary-blue, .2);
//      text-decoration: none;
//      transition: all 250ms linear;
//  } 