@import './color.scss';
@import './variables.scss';

nav {
    @include flexContainer(flex, space-between, center);
    margin: auto;
    background-image: url('../assets/images/card-background.jpg');
    height: 60px; 
    line-height: 90px; 
    white-space: nowrap;

  
    .nav-left {
        @include flexContainer(flex, none, center);
        margin-left: 60px;
        a {
            margin-right: 15px;
            color: $color-primary-dark;
            text-decoration: none;
            text-align: center;
            font-weight: bold;

            &:hover{
                color: $color-secondary-blue;
                transition: 400ms;
            }
        }

        #logo {
            width: 85px;
            height: 25px;
            margin-right: 15px;
        }
    }

    .nav-right {
        @include flexContainer(flex, none, center);
        float: right;
        margin-right: 60px;

        #title {
            color: $color-primary-dark;
            text-align: center;
            font-weight: bold;
            margin-right: 10px;
        }

        .photo{
            cursor: pointer;
        }

        #profile-avatar{
            @include flexContainer(flex, flex-end, flex-end);
            width: 50px;
            height: 50px;
            border-radius: 7px;
            color: $color-primary-dark;
            border: $color-primary-dark 2px solid;
           
        }

        #profile-no-photo{
            @include flexContainer(flex, center, center);
            width: 50px;
            height: 50px;
            border-radius: 7px;
            background-color: $color-primary-light;
            font-size: large;
            border: $color-primary-dark 2px solid;
            color: $color-primary-dark;
            font-weight: bold;
        }

        #profile-photo{
            width: 50px;
            height: 50px;
            border-radius: 7px;
            background-color: $color-primary-dark;

            #icon-profile{
                position: absolute;
                right: 60px;
                top: 40px;
                color: $color-primary-dark;
            }
        }

       

        .dropdown{
            @include flexContainer(flex, center, flex-start);
            width: 150px;
            height: 200px;
            background-color: $color-primary-light;
            color: $color-primary-dark;
            position: absolute;
            top: 65px;
            right: 59px;
            border-radius: 7px;
            flex-direction: column;
            z-index: 1;
            opacity: 0.8;

            #account-sign{
                @include flexContainer(flex, none, center);
                cursor: pointer;
            }

            #links{
                text-decoration: none;
                font-size: 14px;
                margin-left: 10px;
                font-weight: bold;
            }

            #icon-account-sign{
                margin-left: 10px;
            }
        }  
    }
}

.container{
    #title-lists{
        margin-top: 20px;
        margin-left: 50px;
        font-size: 30px;
        font-weight: bold;

    }

    p {
        color: $color-primary-light;
    }
}
