@import './color.scss';

.slide-card{
  margin-top: 15px;
  height: 250px;
  background-color: $color-primary-dark;
  display: flex;
  align-items: center;
  opacity: 0.9;
  

  #icon-left{
    display: flex;
    align-items: center;
    position: absolute;
    left: 1%;
  }

  #icon-right{
    position: absolute;
    left: 97%
  }

  .slide-card:hover .card-inside {
    transform: translateX(-25%);

 }

  .card-inside{
    transition: transform 300ms ease 100ms;
    grid-template-areas:  "one"
                          "two"
                          "three";

    &:hover {
      transform: scale(1.5) !important;
      z-index: 1;
      cursor: pointer;
    }
    
    #title{
      color: $color-primary-light;
      font-size: 20px;
      display: grid;
      justify-content: center;
      grid-area: one;
    }
  
    img{
      display: grid;
      justify-content: center;
      width: 250px;
      height: 180px;
      margin: 0 60px 0 60px;
      grid-area: two;
      border-radius: 7px;
    }
  
    #name{
      color: $color-primary-light;
      grid-area: three;
      display: grid;
      justify-content: center;
    }
  }

  .HorizontalScrollContainer_defaultLeftArrow {
    border: solid $color-primary-light;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    width: 20px;
    height: 20px;
  }

  .HorizontalScrollContainer_defaultRightArrow {
      border: solid $color-primary-light;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-45deg);
      width: 20px;
      height: 20px;
  }
}