@import './color.scss';

#back {
    margin-left: 30px;
    margin-top: 30px;
    position: absolute;
}
#page-user {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../assets/images/background-login.jpg');
    
    .content-card {
        background-image: url('../assets/images/card-background.jpg');
        background-size: auto;
        width: 350px;
        height: 550px;
        padding: 40px 50px;
        border-radius: 5px;
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        
        h2 {
            color: $color-primary-dark;
            margin-bottom: 45px;
        }

        h5 {
            color: $color-primary-dark;
            margin-top: 20px;
        }

        #label {
            color: $color-primary-dark;
            font-size: medium;
            font-weight: bold;
            text-align: left;
        }

        input {
            width: 100%;
            height: 45px;
            margin-bottom: 15px;
            border-radius: 5px;
            padding: 15px;
            color: $color-secondary-blue;
            border-color: $color-secondary-blue;
            background-color: $color-primary-light;

            &:hover {
                filter: brightness(0.9);
                border: 1px solid rgba($color-secondary-blue, .05);
                box-shadow: 1px 1px 2px rgba($color-secondary-blue, .2);
                text-decoration: none;
                transition: all 250ms linear;
            }
        }
    }

    .create-room {
        margin-top: 45px;
        width: 100%;
        height: 50px;
        border-radius: 8px;
        font-weight: 500;
        background: #ea4335;
        color: $color-primary-light;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        cursor: pointer;
        border: 0;
    
        transition: filter 0.2s;
    
        img {
          margin-right: 8px;
        }
    
        &:hover {
            filter: brightness(0.9);
            border: 1px solid rgba($color-primary-dark, .05);
            box-shadow: 1px 1px 2px rgba($color-primary-light, .2);
            text-decoration: none;
            transition: all 250ms linear;
        }
      }
}